body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #888;
	line-height: 30px;
	text-align: center;
}

strong {
	font-weight: 600;
}

a {
	border-radius: 0.5rem;
	color: #856dc0;
	border-bottom: 1px dashed #856dc0;
	text-decoration: none;
	transition: all .3s;
}

a:hover,
a:focus {
	color: #856dc0;
	border: 0;
	text-decoration: none;
}

a.nav-link:focus {
	background-color: rgba(133, 109, 192, 0.8);
}

h1,
h2 {
	margin-top: 10px;
	font-size: 38px;
	font-weight: 300;
	color: #555;
	line-height: 50px;
	font-style: italic;
}

h3 {
	font-size: 22px;
	font-weight: 300;
	color: #555;
	line-height: 30px;
	font-style: italic;
}

img {
	max-width: 100%;
}

.medium-paragraph {
	font-size: 17px;
	line-height: 32px;
}

::-moz-selection {
	background: #7762ac;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #7762ac;
	color: #fff;
	text-shadow: none;
}


/* General styling for all sections */

.section-container {
	margin: 0 auto;
	padding-bottom: 80px;
}

.section-container-gray-bg {
	background: #f8f8f8;
}

.section-container-image-bg,
.section-container-image-bg h2,
.section-container-image-bg h3 {
	color: #fff;
}

.section-container-image-bg .divider-1 span {
	border-color: #fff;
}

.section-description {
	margin-top: 60px;
	padding-bottom: 10px;
}

.section-description p {
	margin-top: 20px;
	padding: 0 120px;
}

.section-container-image-bg .section-description p {
	opacity: 0.8;
}

.section-bottom-button {
	padding-top: 60px;
}


/* Divider */

.divider-1 span {
	display: inline-block;
	width: 200px;
	border-bottom: 1px dotted #aaa;
}


/* Navbar */

.navbar {
	background: rgb(9, 6, 6, 0.85);
	-o-transition: all .6s;
	-moz-transition: all .6s;
	-webkit-transition: all .6s;
	-ms-transition: all .6s;
	transition: all .6s;
	backface-visibility: hidden;
}

.navbar.navbar-no-bg {
	background: rgba(0, 0, 0, 0.2);
}

.navbar-dark .navbar-nav {
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
	border: 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus {
	color: #fff;
	outline: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
	padding-left: 1rem;
	padding-right: 1rem;
}

.navbar-brand {
	border: 0;
	width: 10rem;
}

a.top-nav-link {
	border-bottom: 0px;
	visibility: hidden;
}

a.github-nav-link {
	border: 0;
}


/* Footer styling*/

footer {
	padding: 40px 0;
}