@media (min-width: 992px) and (max-width: 1199px) {

	.section-1-box .section-1-box-icon {
		width: 60px;
		height: 60px;
		font-size: 32px;
		line-height: 60px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	.navbar-expand-md .navbar-nav .nav-link {
		padding-left: 0.6rem;
		padding-right: 0.6rem;
	}

	.inner-bg {
		padding: 180px 0;
	}

	.section-description p {
		padding: 0;
	}

	.section-1-box .section-1-box-icon {
		width: 50px;
		height: 50px;
		font-size: 26px;
		line-height: 50px;
	}

	.section-3-box .section-3-box-icon {
		width: 50px;
		height: 50px;
		font-size: 26px;
		line-height: 50px;
	}

}

@media (max-width: 767px) {

	.navbar.navbar-no-bg {
		background: #444;
	}

	.navbar-dark .navbar-toggler {
		border-color: #444;
	}

	.navbar-dark .navbar-toggler:focus {
		background: #333;
		outline: 0;
	}

	.navbar-expand-md .navbar-nav .nav-link {
		padding-top: 0.3rem;
		padding-bottom: 0.3rem;
	}

	.inner-bg {
		padding: 100px 0 80px 0;
	}

	.section-description p {
		padding: 0;
	}

	.section-1-container {
		padding-bottom: 60px;
	}

	.section-1-box {
		text-align: center;
	}

	.section-1-box h3 {
		margin-top: 20px;
		padding-top: 10px;
	}

	.section-3-box {
		text-align: center;
	}

	.section-3-box h3 {
		margin-top: 20px;
		padding-top: 10px;
	}

}

@media (max-width: 415px) {

	h1,
	h2 {
		font-size: 32px;
	}

}


/* Retina-ize images/icons */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

	/* logo */
	.navbar-brand {
		background-image: url(../img/logo@2x.png) !important;
		background-repeat: no-repeat !important;
		background-size: 105px 33px !important;
	}

}