{% extends 'base.html' %}
{% load static %}

{% block title %}CS50AI: Projects Showcase{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block navbarcontent %}
    <li class="nav-item mx-3 mt-2"><p>Lectures:<p></li>
    <li class="nav-item"><a class="nav-link scroll-link" href="#section-0">0</a></li>
    <li class="nav-item"><a class="nav-link scroll-link" href="#section-1">1</a></li>
    <li class="nav-item"><a class="nav-link scroll-link" href="#section-2">2</a></li>
    <li class="nav-item"><a class="nav-link scroll-link" href="#section-3">3</a></li>
    <li class="nav-item"><a class="nav-link scroll-link" href="#section-4">4</a></li>
    <li class="nav-item"><a class="nav-link scroll-link" href="#section-5">5</a></li>
    <li class="nav-item"><a class="nav-link scroll-link" href="#section-6">6</a></li>
{% endblock %}

{% block content %}
    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text">
                        <h1 id="top-content-title" class="wow fadeInLeftBig">CS50AI: Showcase of Projects</h1>
                        <div class="description wow fadeInUp">
                            <p>
                                A simple web application built with Django framework to display and demo some 
                                of the cooler projects made as part of the CS50's Introduction to Artificial Intelligence with Python course.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 0 -->
    <div class="section-0-container section-container">
        <div class="container">
            <div class="row">
                <div class="col section-0 section-description wow fadeIn">
                    <h2>Lecture 0</h2>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 section-0-box wow fadeInUp">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="section-0-box-icon">
                                <i class="fa-solid fa-film"></i>
                            </div>
                            <a class="btn btn-primary mt-3 d-flex justify-content-center" target="_blank" href="https://github.com/Maxim-Zavidei/cs50ai-projects-showcase/tree/main/static/projects/degrees">
                                Src&nbsp;&nbsp;
                                <i class="fa-solid fa-code mt-1"></i>
                            </a>
                        </div>
                        <div class="col-md-10">
                            <h3>Degrees</h3>
                            <p>The problem consists of finding the shortest path between any two actors by choosing a
                                sequence of movies that connects them. 
                            </p>
                            <p>
                                For example, the shortest path between
                                Jennifer Lawrence and Tom Hanks is 2 movies: Jennifer Lawrence starred with Kevin Bacon in “X-Men: First Class,” 
                                and Kevin Bacon starred with Tom Hanks in “Apollo 13.”
                            </p>
                            <p>
                                The final solution is a Python script that uses Breadth First Search Algorithm to accomplish this.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 section-0-box wow fadeInDown">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="section-0-box-icon">
                                <img src="{% static 'main/ico/tic-tac-toe.ico' %}" style="max-width: 68%; max-height: 68%;"/>
                            </div>
                            <a class="btn btn-primary mt-3 d-flex justify-content-center" target="_blank" href="https://github.com/Maxim-Zavidei/cs50ai-projects-showcase/tree/main/static/projects/tictactoe">
                                Src&nbsp;&nbsp;
                                <i class="fa-solid fa-code mt-1"></i>
                            </a>
                            <a class="btn btn-primary mt-3 d-flex justify-content-center" href="#">
                                Demo&nbsp;&nbsp;
                                <i class="fa-solid fa-play mt-1"></i>
                            </a>
                        </div>
                        <div class="col-md-10">
                            <h3>Tic-Tac-Toe</h3>
                            <span>
                                <p>An application which implements an AI with Minimax Algorithm that can optimally play a tic-tac-toe game.</p>
                                <img class="img-game" src="{% static 'main/img/tic-tac-toe.png' %}" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 1 -->
    <div class="section-1-container section-container section-container-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col section-1 section-description wow fadeIn">
                    <h2>Lecture 1</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 section-1-box wow fadeInLeft">
                    <div>
                        <h3 style="display: inline-block;">Minesweeper&nbsp;</h3>
                        <a class="btn btn-primary mb-2" target="_blank" href="https://github.com/Maxim-Zavidei/cs50ai-projects-showcase/tree/main/static/projects/minesweeper">
                            Src&nbsp;&nbsp;
                            <i class="fa-solid fa-code mt-1"></i>
                        </a>
                        <a class="btn btn-primary mb-2" href="#">
                            Demo&nbsp;&nbsp;
                            <i class="fa-solid fa-play mt-1"></i>
                        </a>
                    </div>
                    <p class="medium-paragraph">
                        An intelligent agent implemented with propositional logic that can solve Minesweeper games on its own.
                    </p>
                    <img class="img-game" src="{% static 'main/img/minesweeper.png' %}" />
                </div>
                <div class="col-md-6 section-1-box wow fadeInLeft">
                    <div>
                        <h3 style="display: inline-block;">Knights and Knaves Puzzle&nbsp;</h3>
                        <a class="btn btn-primary mb-2" target="_blank" href="https://github.com/Maxim-Zavidei/cs50ai-projects-showcase/tree/main/static/projects/knights">
                            Src&nbsp;&nbsp;
                            <i class="fa-solid fa-code mt-1"></i>
                        </a>
                    </div>
                    <p>
                        The following information is given in the this puzzle: Each character is either a knight or a knave. 
                        A knight will always tell the truth: if knight states a sentence, then that sentence is true.
                        Conversely, a knave will always lie: if a knave states a sentence, then that sentence is false.
                    </p>
                    <p class="medium-paragraph">
                        Given a set of sentences spoken by each of the characters, write an app that determines, 
                        for each character, whether that character is a knight or a knave.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 2, 3, 4 -->
    <div class="section-2-container section-3-container section-4-container  section-container">
        <div class="container">

            <div class="row">
                <div class="col-md-4 section-2 section-description wow fadeInUp">
                    <h2>Lecture 2</h2>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
                <div class="col-md-4 section-3 section-description wow fadeInDown">
                    <h2>Lecture 3</h2>
                    <div class="divider-1 wow fadeInDown"><span></span></div>
                </div>
                <div class="col-md-4 section-4 section-description wow fadeInUp">
                    <h2>Lecture 4</h2>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-4 section-3-box wow fadeInUp">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-3-box-icon">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <a class="btn btn-primary mt-3 d-flex justify-content-center" target="_blank" href="#">
                                    <i class="fa-solid fa-code mt-1"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h3>Page Rank</h3>
                            <p>
                                A simple program that implements Google's PageRank algorithm in both iterative and recursive versions.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 section-3-box wow fadeInDown">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-3-box-icon">
                                <i class="fa-solid fa-border-all"></i>
                                <a class="btn btn-primary mt-3 d-flex justify-content-center" target="_blank" href="#">
                                    <i class="fa-solid fa-code mt-1"></i>
                                </a>
                                <a class="btn btn-primary mt-2 d-flex justify-content-center" href="#">
                                    <i class="fa-solid fa-play mt-1"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h3>Crossword</h3>
                            <p>
                                An application that is able to solve english Crosswords and provide multiple solutions for any given structure of a crossword.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 section-3-box wow fadeInUp">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-3-box-icon">
                                <i class="fa-solid fa-shop"></i>
                                <a class="btn btn-primary mt-3 d-flex justify-content-center" target="_blank" href="#">
                                    <i class="fa-solid fa-code mt-1"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h3>Shopping</h3>
                            <p>
                                A nearest-neighbor classifier that is able to predict whether or not the user will make a purchase given 
                                information about his activity — how many pages they've visited, whether they're shopping on a weekend, what web browser they're using, etc.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-4 section-3-box wow fadeInUp">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-3-box-icon">
                                <i class="fa-solid fa-dna"></i>
                                <a class="btn btn-primary mt-3 d-flex justify-content-center" target="_blank" href="#">
                                    <i class="fa-solid fa-code mt-1"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h3>Heredity</h3>
                            <p>
                                An agent that determines the probability of different gene inheritance in a given family, implemented with Bayesian Networks.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <img class="img-game" src="{% static 'main/img/crossword.png' %}" style="width: 90%;" />
                </div>
                <div class="col-md-4 section-3-box wow fadeInUp">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-3-box-icon">
                                <i class="fa-solid fa-chart-simple"></i>
                                <a class="btn btn-primary mt-3 d-flex justify-content-center" target="_blank" href="#">
                                    <i class="fa-solid fa-code mt-1"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h3>Nim</h3>
                            <p>
                                An AI agent that teaches itself to play Nim through Reinforcement Learning.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>

    <!-- Section 5 -->
    <div class="section-5-container section-container section-container-image-bg">
        <div class="container">
            <div class="row">
                <div class="col section-5 section-description wow fadeInLeftBig">
                    <h2>Lecture 5 - Traffic</h2>
                    <a class="btn btn-primary" target="_blank" href="#">
                        <i class="fa-solid fa-code mt-1"></i>
                    </a>
                    <p>
                        This project, uses TensorFlow to build a Neural Network to classify road signs based on a dataset of images of signs. 
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 6 -->
    <div class="section-6-container section-container section-container-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col section-1 section-description wow fadeIn">
                    <h2>Lecture 6</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 section-0-box wow slideInLeft">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="section-0-box-icon">
                                <i class="fa-solid fa-share-nodes"></i>
                            </div>
                            <a class="btn btn-primary mt-3 d-flex justify-content-center" target="_blank" href="#">
                                Src&nbsp;&nbsp;
                                <i class="fa-solid fa-code mt-1"></i>
                            </a>
                        </div>
                        <div class="col-md-10">
                            <h3>Parser</h3>
                            <p>
                                An AI solution that parses sentences and extracts noun phrases.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 section-0-box wow slideInRight">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="section-0-box-icon">
                                <i class="fa-solid fa-question"></i>
                            </div>
                            <a class="btn btn-primary mt-3 d-flex justify-content-center" target="_blank" href="#">
                                Src&nbsp;&nbsp;
                                <i class="fa-solid fa-code mt-1"></i>
                            </a>
                            <a class="btn btn-primary mt-3 d-flex justify-content-center" href="#">
                                Demo&nbsp;&nbsp;
                                <i class="fa-solid fa-play mt-1"></i>
                            </a>
                        </div>
                        <div class="col-md-10">
                            <h3>Questions</h3>
                            <p>A project that takes a corpus of Wikipedia articles, performs natural language processing and is able to answer any related question provided by the user.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'main/js/index.js' %}"></script>
{% endblock %}