{% extends 'base.html' %}
{% load static %}

{% block title %}CS50AI: Projects Showcase{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block navbarcontent %}
    <li class="nav-item mx-3 mt-2"><p>Lectures:<p></li>
    <li class="nav-item"><a class="nav-link scroll-link" href="#section-0">0</a></li>
    <li class="nav-item"><a class="nav-link scroll-link" href="#section-1">1</a></li>
    <li class="nav-item"><a class="nav-link scroll-link" href="#section-2">2</a></li>
    <li class="nav-item"><a class="nav-link scroll-link" href="#section-3">3</a></li>
    <li class="nav-item"><a class="nav-link scroll-link" href="#section-4">4</a></li>
    <li class="nav-item"><a class="nav-link scroll-link" href="#section-5">5</a></li>
    <li class="nav-item"><a class="nav-link scroll-link" href="#section-6">6</a></li>
{% endblock %}

{% block content %}
    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text">
                        <h1 id="top-content-title" class="wow fadeInLeftBig">CS50AI: Showcase of Projects</h1>
                        <div class="description wow fadeInUp">
                            <p>
                                A simple web application built with Django framework to display and demo some 
                                of the cooler projects made as part of the CS50's Introduction to Artificial Intelligence with Python course.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 0 -->
    <div id="0" class="section-0-container section-container">
        <div class="container">
            <div class="row">
                <div class="col section-0 section-description wow fadeIn">
                    <h2>Lecture 0</h2>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 section-0-box wow fadeInUp">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="section-0-box-icon">
                                <i class="fa-solid fa-film"></i>
                            </div>
                            <a class="btn btn-primary mt-3 d-flex justify-content-center" href="#">
                                Src&nbsp;&nbsp;
                                <i class="fa-solid fa-code mt-1"></i>
                            </a>
                        </div>
                        <div class="col-md-10">
                            <h3>Degrees</h3>
                            <p>The problem consists of finding the shortest path between any two actors by choosing a
                                sequence of movies that connects them. 
                            </p>
                            <p>
                                For example, the shortest path between
                                Jennifer Lawrence and Tom Hanks is 2 movies: Jennifer Lawrence starred with Kevin Bacon in “X-Men: First Class,” 
                                and Kevin Bacon starred with Tom Hanks in “Apollo 13.”
                            </p>
                            <p>
                                The final solution is a Python script that uses Breadth First Search Algorithm to accomplish this.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 section-0-box wow fadeInDown">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="section-0-box-icon">
                                <img src="{% static 'main/ico/tic-tac-toe.ico' %}" style="max-width: 68%; max-height: 68%;"/>
                            </div>
                            <a class="btn btn-primary mt-3 d-flex justify-content-center" href="#">
                                Src&nbsp;&nbsp;
                                <i class="fa-solid fa-code mt-1"></i>
                            </a>
                            <a class="btn btn-primary mt-3 d-flex justify-content-center" href="#">
                                Demo&nbsp;&nbsp;
                                <i class="fa-solid fa-play mt-1"></i>
                            </a>
                        </div>
                        <div class="col-md-10">
                            <h3>Tic-Tac-Toe</h3>
                            <span>
                                <p>An application which implements an AI with Minimax Algorithm that can optimally play a tic-tac-toe game.</p>
                                <img class="img-game" src="{% static 'main/img/tic-tac-toe.png' %}" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 1 -->
    <div id="1" class="section-1-container section-container section-container-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col section-1 section-description wow fadeIn">
                    <h2>Lecture 1</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 section-1-box wow fadeInLeft">
                    <div>
                        <h3 style="display: inline-block;">Minesweeper&nbsp;</h3>
                        <a class="btn btn-primary mb-2" href="#">
                            Src&nbsp;&nbsp;
                            <i class="fa-solid fa-code mt-1"></i>
                        </a>
                        <a class="btn btn-primary mb-2" href="#">
                            Demo&nbsp;&nbsp;
                            <i class="fa-solid fa-play mt-1"></i>
                        </a>
                    </div>
                    <p class="medium-paragraph">
                        An intelligent agent implemented with propositional logic that can solve Minesweeper games on its own.
                    </p>
                    <img class="img-game" src="{% static 'main/img/minesweeper.png' %}" />
                </div>
                <div class="col-md-6 section-1-box wow fadeInLeft">
                    <div>
                        <h3 style="display: inline-block;">Knights and Knaves Puzzle&nbsp;</h3>
                        <a class="btn btn-primary mb-2" href="#">
                            Src&nbsp;&nbsp;
                            <i class="fa-solid fa-code mt-1"></i>
                        </a>
                    </div>
                    <p>
                        The following information is given in the this puzzle: Each character is either a knight or a knave. 
                        A knight will always tell the truth: if knight states a sentence, then that sentence is true.
                        Conversely, a knave will always lie: if a knave states a sentence, then that sentence is false.
                    </p>
                    <p class="medium-paragraph">
                        Given a set of sentences spoken by each of the characters, write an app that determines, 
                        for each character, whether that character is a knight or a knave.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 2 -->
    <div id="2" class="section-3-container section-container">
        <div class="container">

            <div class="row">
                <div class="col section-3 section-description wow fadeIn">
                    <h2>Section 3</h2>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 section-3-box wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-3-box-icon">
                                <i class="fas fa-paperclip"></i>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h3>Ut wisi enim ad minim</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et.
                                Ut wisi enim ad minim veniam, quis nostrud.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 section-3-box wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-3-box-icon">
                                <i class="fas fa-pencil-alt"></i>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h3>Sed do eiusmod tempor</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et.
                                Ut wisi enim ad minim veniam, quis nostrud.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 section-3-box wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-3-box-icon">
                                <i class="fas fa-cloud"></i>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h3>Quis nostrud exerci tat</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et.
                                Ut wisi enim ad minim veniam, quis nostrud.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 section-3-box wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-3-box-icon">
                                <i class="fab fa-google"></i>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h3>Minim veniam quis nostrud</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et.
                                Ut wisi enim ad minim veniam, quis nostrud.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Section 4 -->
    <div class="section-4-container section-container section-container-image-bg">
        <div class="container">
            <div class="row">
                <div class="col section-4 section-description wow fadeInLeftBig">
                    <h2>Section 4</h2>
                    <p>
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                        aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'main/js/index.js' %}"></script>
{% endblock %}