/***** Top content *****/

.inner-bg {
	padding: 210px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 {
	margin-top: 25px;
	color: #fff;
}

.top-content .description {
	margin: 30px 0 10px 0;
}

.top-content .description p {
	opacity: 0.8;
}


/***** Section 1 *****/

.section-1-box {
	padding-top: 30px;
	text-align: left;
}

.section-1-box .section-1-box-icon {
	width: 80px;
	height: 80px;
	margin: 0 auto;

	background: #7762ac;

	font-size: 40px;
	color: #fff;
	line-height: 80px;
	text-align: center;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-o-transition: all .6s;
	-moz-transition: all .6s;
	-webkit-transition: all .6s;
	-ms-transition: all .6s;
	transition: all .6s;
}

.section-1-box h3 {
	margin-top: 0;
	padding: 0 0 10px 0;
}


/***** Section 2 *****/

.section-2-box {
	margin-top: 30px;
	text-align: left;
}

.section-2-box h3 {
	margin-top: 0;
}

.section-2-box-text .medium-paragraph {
	margin-top: 20px;
	margin-bottom: 20px;
}


/***** Section 3 *****/

.section-3-box {
	margin-top: 30px;
	text-align: left;
}

.section-3-box .section-3-box-icon {
	width: 60px;
	height: 60px;
	margin: 0 auto;

	background: #7762ac;

	font-size: 28px;
	color: #fff;
	line-height: 60px;
	text-align: center;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.section-3-box h3 {
	margin-top: 0;
	padding: 0 0 10px 0;
}